<div class="container-fluid">
  <div class="text-center col-xs-12">
    <h2 class="hidden-xs">C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp; C O M I N G &nbsp; S O O N &nbsp;</h2>
  </div>
  <div class="social-icons text-right">
    <ul>
      <li><a href="https://instagram.com/pullyourlook/"><img src="http://i.imgur.com/5L45jfz.png" alt=""></a></li>
      <li><a href="https://www.facebook.com/pullyourlook" target="_blank" title='Join us on facebook'><img src="http://i.imgur.com/5gkk9ha.png"></a></li>
      <li><a href="https://www.pinterest.com/pullyourlook/pyl/" target="_blank" title='Follow us on pinterest'><img src="http://i.imgur.com/761Dfd6.png" alt=""></a></li>
    </ul>
  </div>
  <p class="smaller col-xs-12 text-center">LAUNCHING JUNE 2015</p>
  <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 hidden">
    <img id="logo" src="http://i.imgur.com/KW3Hem8.png" alt="">
  </div>
  <div class="text-center col-xs-12">
    <h1 class="hidden-xs">AUSTRALIA'S MARKETPLACE TO </br>
      <span>BUY + SELL</span></br>
      PREOWNED DESIGNER CLOTHING
    </h1>
  </div>
  <p class="visible-xs col-xs-12 text-center smaller">A MARKETPLACE TO</br><span class="larger">BUY + SELL</span></br>PREOWNED DESIGNER CLOTHING</p>

  <div class="col-xs-12 col-sm-10 col-sm-offset-1 text-center col-md-6 col-md-offset-3 about spaced">

  <p>Pull Your Look is an auction website for pre-owned luxury and premium fashion. It is a marketplace where fashion lovers can buy and sell items online, among other fashionable women.</p>

      <p>A designer wardrobe is now achievable on every budget. Whether you buy brand new designer clothes and sell them at the end of the season to recoup some of your investment, or you shop from our site to find a bargain, you can have the designer wardrobe you’ve always dreamed of without the designer price tag.</p>
  </div>

  <a href="/how_it_works"><button class="classic-black-button col-sm-4 col-sm-offset-4 col-xs-12 how-it-works">HOW IT WORKS</button></a>

  <div class="join-us-text col-xs-12 text-center">
    <h1 class="hidden-xs"><span>VIP $50 CREDIT</span></br>SIGN UP TO GET NOTIFIED WHEN WE LAUNCH</h1>
    <p class="visible-xs smaller"><span class="larger">VIP $50 CREDIT</span></br>SIGN UP TO GET NOTIFIED WHEN WE LAUNCH</p>
     <p class="col-sm-8 col-sm-offset-2 about">Leave your email address below to get notified when we launch and you will also receive a VIP voucher code for $50 credit to use on our site. The voucher code is redeemable on sign up.</p>

    <div class="signup col-xs-12">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//pullyourlook.us9.list-manage.com/subscribe/post?u=255cb99ef16b0f652ba288bb3&amp;id=e4189e2e7c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
            <label for="mce-EMAIL"></label>
            <input id="input-box" type="email" value="" name="EMAIL" class="required email col-sm-2 col-sm-offset-5 col-xs-12" id="mce-EMAIL" placeholder="  email address...">
          </div>
          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;"><input type="text" name="b_255cb99ef16b0f652ba288bb3_e4189e2e7c" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="NOTIFY ME" name="subscribe" id="mc-embedded-subscribe" class="col-sm-2 col-sm-offset-5 col-xs-12 white-button"></div>
          </div>
        </form>
      </div>

      <!--End mc_embed_signup-->
    </div>
    <div class="social-icons text-center col-xs-12">
      <p class="follow-us about ">Follow Us:</p>
    <ul>
      <li><a href="https://instagram.com/pullyourlook/"><img src="http://i.imgur.com/5L45jfz.png" alt=""></a></li>
      <li><a href="https://www.facebook.com/pullyourlook" target="_blank" title='Join us on facebook'><img src="http://i.imgur.com/5gkk9ha.png"></a></li>
      <li><a href="https://www.pinterest.com/pullyourlook/pyl/" target="_blank" title='Follow us on pinterest'><img src="http://i.imgur.com/761Dfd6.png" alt=""></a></li>
    </ul>
  </div>
  </div>

</div>

<script>
  $(document).ready(function () {
    $('div.hidden').fadeIn(1000).removeClass('hidden');
});
</script>
<script type="text/javascript">
  window.doorbellOptions = {
      appKey: 'vglvLfN3wwAymeC4JEJLbywFyficpiw98GzpW5Ch4sbB0tTQU68mi0sgkmIeW8NT'
  };
  (function(d, t) {
      var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/1285?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
  }(document, 'script'));
</script>